<app-header backButton="/tab1" title="Recuperar Contraseña"></app-header>
<ion-content>
  <!-- Conexion input del email en formulario-->
  <div class="d-flex-center">
    <!-- se llama a la funcion submit para enviar los datos en consola -->
    <form
      [formGroup]="form"
      class="auth-form"
      (ngSubmit)="submit()"
      (keypress.enter)="submit()"
    >
      <app-custom-input
        autocomplete="email"
        icon="mail-outline"
        [control]="form.controls.email"
        type="email"
        label="Correo"
      ></app-custom-input>
      <!-- validacion de los datos ingresados en correo-->
      <div
        class="validators"
        *ngIf="form.controls.email.errors && form.controls.email.touched"
      >
        <div *ngIf="form.controls.email.errors?.['required']">
          Ingresa el correo
        </div>
        <div *ngIf="form.controls.email.errors?.['email']">
          Ingresa un correo valido
        </div>
      </div>

      <!--Boton recuperar-->
      <ion-button
        expand="block"
        mode="ios"
        class="ion-margin-top"
        type="submit"
        [disabled]="form.invalid"
      >
        Recuperar
      </ion-button>
    </form>
  </div>
</ion-content>
