.contenedor-formulario {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Opcional: Establece la altura del contenedor para que ocupe toda la altura de la pantalla */
  }